.instruction {
  padding: 0.5em;
  background-color: gainsboro;
  font-size: 1.1em;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.instruction > p {
  text-align: center;
}

.ship-type-radio-button {
  appearance: none;
  width: max-content;
  padding: 0.1em 0.2em;
  border: 1px solid rebeccapurple;
  border-radius: 5px;
  font-size: inherit;
}

.ship-type-radio-button:checked {
  background-color: rebeccapurple;
  color: aliceblue;
}

#ship-type-carrier::after {
  content: 'Carrier';
}

#ship-type-battleship::after {
  content: 'Battleship';
}

#ship-type-destroyer::after {
  content: 'Destroyer';
}

#ship-type-patrol-boat::after {
  content: 'Patrol Boat';
}

.ship-configuration {
  display: flex;
}

#ship-direction-type {
  appearance: none;
  width: max-content;
  padding: 0.1em 0.2em;
  border: 1px solid rebeccapurple;
  border-radius: 5px;
  font-size: inherit;
}

#ship-direction-type:checked {
  background-color: rebeccapurple;
  color: aliceblue;
}

#ship-direction-type::after {
  content: 'Vertical';
}

.seperator {
  font-size: 1.1em;
  padding: 0.1em 0.2em;
}
