.gameboard {
  display: inline-grid;
  grid-template-columns: repeat(10, 42px);
  grid-template-rows: repeat(10, 42px);
  margin: 2em;
  border: 2px solid black;
}

.cell {
  width: 40px;
  height: 40px;
  background-color: lightblue;
  --ship-border: 2px solid gray;
}

.ship {
  width: 36px;
  height: 36px;
  background-color: blue;
}

.ship.vertical.head {
  border: var(--ship-border);
  height: 40px;
  border-bottom: none;
}

.ship.vertical.middle {
  border-left: var(--ship-border);
  border-right: var(--ship-border);
}

.ship.vertical.tail {
  border: var(--ship-border);
  height: 39px;
  border-top: none;
}
